#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.text {
  text-align: center;
  padding: 20px;
}
.main-container {
  /* border: 2px solid red; */
  display: flex;
  height: 70vh;
  padding: 0 30px;
  padding-left: 100px;
}
.left-side {
  /* border: 2px solid blue; */
  flex: 6;
}
.right-side {
  flex: 6;
  text-align: center;
  width: 100%;
  height: 100%;
}
.image-container {
  padding: 20px;
  height: 100%;
  width: 80%;
}
.image-container img {
  height: 100%;
  width: 100%;
}
